{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "airbnb", "prettier"],
  "env": {
    "browser": true
  },
  "plugins": ["react", "react-hooks"],
  "settings": {
    "import/resolver": {
      "node": {}, // placed above other resolver configs
      "alias": {
        "map": [
          ["components", "./src/components"],
          ["components/*", "./src/components/*"],
          ["pages", "./src/pages"],
          ["pages/*", "./src/pages/*"],
          ["constants", "./src/constants"],
          ["containers", "./src/containers"],
          ["containers/*", "./src/containers/*"],
          ["routes", "./src/routes"],
          ["routes/*", "./src/routes/*"],
          ["themes", "./src/themes"],
          ["themes/*", "./src/themes/*"],
          ["utils", "./src/utils"],
          ["utils/*", "./src/utils/*"],
          ["redux", "./src/redux"],
          ["redux/*", "./src/redux/*"],
          ["assets", "./src/assets"],
          ["assets/*", "./src/assets/*"],
          ["assets/img/*", "./src/assets/img/*"],
          ["api", "./src/api"],
          ["api/*", "./src/api/*"],
          ["layout", "./src/layout"],
          ["layout/*", "./src/layout/*"],
          ["hooks", "./src/hooks"],
          ["hooks/*", "./src/hooks/*"],
          ["configs", "./src/configs"],
          ["configs/*", "./src/configs/*"],
          ["data", "./src/data"],
          ["data/*", "./src/data/*"]
        ],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "globals": {
    "describe": true,
    "it": true,
    "expect": true,
    "fetch": true,
    "navigator": true,
    "__DEV__": true,
    "XMLHttpRequest": true,
    "FormData": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "comma-dangle": [1, "always-multiline"],
    "no-use-before-define": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/destructuring-assignment": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "no-mixed-operators": [
      "error",
      {
        "groups": [
          ["&", "|", "^", "~", "<<", ">>", ">>>"],
          ["&&", "||"]
        ]
      }
    ],
    "no-unused-expressions": [
      "error",
      { "allowShortCircuit": true, "allowTernary": true }
    ],
    "react/jsx-props-no-spreading": 0,
    "jsx-a11y/control-has-associated-label": 0,
    "react/no-danger": 0,
    "no-shadow": 0,
    "no-param-reassign": [
      "error",
      { "props": true, "ignorePropertyModificationsFor": ["state"] }
    ]
  }
}
